<!-- version 2.0.0 2024/02/4　　Spring Boot 3.2.2-->
<!-- All Rights Reserved, Copyright(c) Fujitsu Learning Media Limited -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
	<title>エラー画面</title>
</head>

<body>
	<div id="mainArea">
		<h1>システムエラー</h1>
		<hr>
		<!--  エラーメッセージ -->
		<div class="error">
			<p th:text="${message}">error message</p>
		</div>
	</div>
	<div id="footerArea">
		<a th:href="@{/}">[トップに戻る]</a>
	</div>
</body>

</html>