<!-- version 2.0.0 2024/02/4　　Spring Boot 3.2.2-->
<!-- All Rights Reserved, Copyright(c) Fujitsu Learning Media Limited -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
	<title>従業員登録結果画面</title>
</head>

<body>
	<div id="mainArea">
		<h1>従業員登録</h1>
		<h2>従業員登録結果画面</h2>
		<p>以下の内容で登録が完了しました。</p>
		<table border="1">
			<tr>
				<th>従業員ID</th>
				<td th:text="${employee.employeeId}">employeeId</td>
			</tr>
			<tr>
				<th>従業員名</th>
				<td th:text="${employee.employeeName}">employeeName</td>
			</tr>
			<tr>
				<th>部署名</th>
				<td th:text="${employee.section}">section</td>
			</tr>
			<tr>
				<th>内線番号</th>
				<td th:text="${employee.phone}">phone</td>
			</tr>
		</table>
	</div>
	<div id="footerArea">
		<a th:href="@{/}">[トップに戻る]</a>
	</div>
</body>

</html>