<!-- version 2.0.0 2024/02/4　　Spring Boot 3.2.2-->
<!-- All Rights Reserved, Copyright(c) Fujitsu Learning Media Limited -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
	<title>従業員一覧検索結果画面5</title>
</head>

<body>
	<div id="mainArea">
		<h1>従業員検索</h1>
		<h2>従業員一覧検索結果画面</h2>
		<p th:unless="${#lists.isEmpty(employeeList)}">
			検索結果が
			<span th:text="${#lists.size(employeeList)}">size</span>
			件見つかりました
		</p>
		<p th:text="${message}" class="error">
			error message
		</p>

		<table border="1" th:unless="${#lists.isEmpty(employeeList)}">
			<tr>
				<th>従業員ID</th>
				<th>従業員名</th>
				<th>部署名</th>
				<th>内線番号</th>
			</tr>
			<th:block th:object="${employee}" th:each="employee : ${employeeList}">
				<tr>
					<td th:text="*{employeeId}">employeeId</td>
					<td th:text="*{employeeName}">employeeName</td>
					<td th:text="*{section}">section</td>
					<td th:text="*{phone}">phone</td>
				</tr>
			</th:block>
		</table>
		<br>
	</div>
	<div id="footerArea">
		<a th:href="@{/}">[トップに戻る]</a>
	</div>
</body>

</html>