/**
 * style.css
 *
 * All Rights Reserved, Copyright(c) Fujitsu Learning Media Limited
 */
@charset "UTF-8";

/*全体共通　要素ごとのスタイル定義*/
body {
	margin-left: 100px;
	margin-right: 100px;
	padding: 0px;
	font-family: "Hiragino Kaku Gothic ProN", "meiryo";
	font-size: 12pt;
}

input {
	font-size: 12pt;
}

button {
	width: 100px;
	height: 30px;
	font-size: 12pt;
	font-weight: bold;
	background-color: #8aec8a;
	border-radius: 5px;
	border-color: #8aec8a;
	border-style: none;
}

img {
	border-style: none;
	border: 0;
	width: 130px;
	height: 130px;
}

/*エラーメッセージ*/
.error-left {
	text-align: left;
	color: red;
	font-size: 9pt;
}

.error{
	text-align: center;
	color: red	
}

/*フッター*/
#footerArea {
	margin-top: 30px;
	border-top: 1px solid #008000;
	text-align: center;
}

/*メインコンテンツ*/
#mainArea {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#mainArea h1 {
	font-size: 14pt;
	border-bottom: 3px solid #008040;
	text-align: left;
}

#mainArea h2 {
	font-size: 18pt;
	color:#0000ff;
}

#mainArea table {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	text-align: left;
}

#mainArea caption {
	text-align: left;
	font-size: 13pt;
	font-weight: bold;
}

#mainArea th {
	background-color: #d0f9d3;
	padding: 10px;
}

#mainArea td {
	padding: 10px;
	position: relative;
}

