<!-- version 2.0.0 2024/02/4　　Spring Boot 3.2.2-->
<!-- All Rights Reserved, Copyright(c) Fujitsu Learning Media Limited -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
	<title>例題一覧画面</title>
</head>

<body>
	<div id="mainArea">
		<h1>例題一覧</h1>
		<br>
		<p><a th:href="@{/search}">従業員検索</a></p>
		<p><a th:href="@{/inputInsert}">従業員登録</a></p>
		<p><a th:href="@{/retrieveAllEmployee}">従業員一覧</a></p>
	</div>
</body>

</html>